
#timesheet-table {
  width:100%;
  margin:0px;
  border:none;
}

#timesheet-table td,th {
  text-align:center;
  margin-left:auto;
  padding-top:10px;
  padding-bottom:10px;
}

#calendar-navi {
  font-size: large;
  font-weight: bold;
  width:500px;
  margin:auto;
}

#calendar {
  border-spacing:0;
  margin:auto;
  width:100%;
}

#calendar td {
  padding:0px;
  margin:0;  
}

#calendar td a {
  border:thin solid rgba(0,0,0,0.1);
  display:block;
  //color: rgba(20,20,20, 0.5);
}

#calendar a:hover{
  background-color: rgba(0, 200, 200, 0.5);
  text-decoration: none;
  color:white;
  //border:thin solid red;
  display:block;
}


.date {
  //width:40px;
  //border:thin solid red;
  padding:3px;
}

.duration{
  min-height: 20px;
  line-height: 20px;
}


.weekday {
  background-color: rgba(240, 240, 240, 0.8);
}
.weekend {
  background-color: rgba( 180, 180, 180, 0.8);
}

.missing {
  color:red;
}

.incomplete {
  color:orange;
  font-weight: bold;
}

.correct {
  color: green;
}

.wow {
  color: darkred;
  font-weight:bold;
}

.current-cal {
  background-color: rgba(0, 200, 200, 0.5);
  border: thin solid yellow;
  //font-weight: bold;
  color: rgba(255,255,255, 1);
}

.current-dur {
  background-color: rgba(0, 200, 200, 0.5);
  border:thin solid blue;
  font-weight:bold;
}

.today-cal {
  //background-color: rgba(255,10,10, 0.3);
  color:red;
  font-weight: bold;
  border: thin solid red;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

#edit-save {
  background:green;
  width:50%;
  margin-left:auto;
  
}

div.ui-tooltip {
  max-width: 800px;
}
.ui-tooltip table {
  border:none;
}

.ui-tooltip.td {
  padding:3px;
  font-size:x-small;
}