
html{
  
}

body{
  
  line-height: 1;
  
}

.calendar {
  border-spacing:0;
  margin:auto;
  width:50%;
}

.calendar td {
  padding:0px;
  margin:0;  
}

.calendar td a {
  border:thin solid rgba(0,0,0,0.1);
  display:block;
  //color: rgba(20,20,20, 0.5);
}


.date {
  width:40px;
  //border:thin solid red;
  padding:3px;
}

.duration{
  min-height: 30px;
  line-height: 30px;
}

.calendar a:hover{
  background-color: rgba(0, 200, 200, 0.5);
  text-decoration: none;
  color:white;
  //border:thin solid red;
  display:block;
}

.weekday {
  background-color: rgba(240, 240, 240, 0.8);
}
.weekend {
  background-color: rgba( 180, 180, 180, 0.8);
}

.missing {
  color:red;
}

.incomplete {
  color:orange;
}

.correct {
  color: green;
}

.wow {
  color: lightgreen;
}

.current-cal {
  background-color: rgba(0, 200, 200, 0.5);
  border: thin solid yellow;
  //font-weight: bold;
  color: rgba(255,255,255, 1);
}

.current-dur {
  background-color: rgba(0, 200, 200, 0.5);
  border:thin solid blue;
  font-weight:bold;
}

.today-cal {
  //background-color: rgba(255,10,10, 0.3);
  color:red;
  font-weight: bold;
  border: thin solid red;
}



